*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body,html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f0f3fa;
}
.container{
    width: 1500px;
    margin: 0px auto;
}
.width-100{
    width: 100%;
    float: left;
}
.top-header{
background-color: #2196f3;
padding: 5px 0px;
border-bottom: 1px solid #3131315e;
}
.news-list{
background-color: white;
color: red;
 margin:15px;
 padding: 3px;
 font-size: 20px;
}
.headquote{
    font-size: 18px;
    color: rgb(6, 1, 1);
    width: 80%;
}
.header-menu{
position: relative;
box-shadow: 0px 2px 5px 0px #00000036;
}
.logo{
    width: fit-content;
    float: left;
}

.main-menu{
list-style: none;
float: right;
margin-right: 20px;
}
.main-menu a {
    font-weight: 500;
    color: #3a3a3a;
    text-decoration: none;
}
.main-menu li{
    float: left;
    padding: 12px 15px;
    margin: 20px;
}
.slider-width{
    width: 100%;
    height: auto;
}
.margin-top-50{
margin-top: 50px;

}
.width-33{
width: 33%;
float: left;
}
.latest-news{
margin-left: 10px;
margin-right: 10px;
background-color: white;
padding: 20px;
height: 300px;
margin-bottom: 30px;
}
.heading-sect{
width: 100%;
float: left;
border-bottom: 3px solid black;
padding-bottom: 0px;
margin: 0px;
margin-bottom: 15px;
padding-left: 15px;
background-color: #00aed9;
color: wheat;
}
.head-title{
margin: 0px;
padding: 0px;
font-size: 16px;
font-weight: 16px;
padding-bottom: 5px;
}
.latest-news-ul{
    padding: 0;
    list-style: none;
    line-height: 40px;

}
.event-list{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    padding: 20px;
    height: 300px;
    margin-bottom: 30px;
}
.upcoming-event-list{
    padding: 10px;
    list-style: none;
}
.upcoming-event-list li{
width: 100%;
float: left;
margin-bottom: 15px;
}
.event-date{
background-color: #00aed9;
width: 60px;
float: left;
text-align: center;
font-size: 10px;
color: white;
padding: 8px;
margin-right: 10px;


}
.notice-board{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    padding: 20px;
    height: 300px;
    margin-bottom: 30px;
    overflow: hidden;
}
.notice-board-list{
padding: 0px;
list-style: none;

}
.notice-board-list li{
width: 100%;
float: left;
margin-bottom: 15px
}
.out-principal{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    padding: 20px;
    height: 300px;
    margin-bottom: 30px;
}
.useful-info-ul{
list-style: none;
}
.useful-info-ul li{
margin-bottom: 15px;
border-bottom: 1px solid gray;
padding-bottom: 15px;

}
.useful-info-ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.governor-name{
width: 100%;
}
.governor-designation{

}
.governor-img{

}
.width-40{
    width: 40%;
    float: left;
}
.width-60{
width: 60%;
float: left;
}
.gov-sec-style{
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;

}
.governor-name{
font-size: 15px;
color: black;
font-weight: bold;
padding-left: 10px;
margin-top: 20px;
}
.governor-designation{
    font-size: 15px;
    color: black;
    padding-left: 10px;
    margin-top: 6px;
}
.governor-img{
    width: 100%;
}
.width-40{
    width: 40%;
    float: left;
}
.width-60{
    width: 60%;
    float: left;
}

.about-us{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    padding: 20px;
    height: 300px;
    margin-bottom: 30px;
    overflow: hidden;
}
.certificate{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    padding: 20px;
    height: 300px;
    margin-bottom: 30px;
    overflow: hidden;
}

.gallery-head-style{
font-size: 28px;
color: black;
margin-bottom: 5px;
border: 1 px solid gray;
padding: 2px 0px;
background-color: white;
}
.width-25{
width: 25%;
float: left;
}
.gallery-img{
height: 250px;
width: auto;
}
.recuiter-head-style{
font-size: 28px;
color: gray;
margin-bottom: 5px;
}
.recuiter-marquee{
height: 100px;

}
.recuiter-marquee img{
    height: 80px;
    width: 140px;
}
.footer{
background: rgb(89, 89, 164);
padding: 50px 10px;


}
.quicklink-heading{
font-size: 18px;
font-weight: bold;
color: white;
margin-bottom: 10px;

}
.quicklink-menu{
list-style: none;
padding-left: 10px;
}
.quicklink-menu li a{
    color: white;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}

.get-in-touch{
list-style: none;
padding-left: 10px;
}
.get-in-touch li i{
color: red;
font-size: 20px;


}
.get-in-touch li a{
color: white;
}
.get-in-touch li{
    color: white;
    line-height: 2.5;
    font-size: 15px;
}
.footer-email{
    font-size: bold;

}